@font-face {
    font-family: "fontello";
    src: url("../fonts/fontello/fontello.woff2?46132618") format("woff2"),
    url("../fonts/fontello/fontello.woff?46132618") format("woff"),
    url("../fonts/fontello/fontello.svg?46132618#fontello") format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica";
    url("../fonts/Helvetica/HelveticaRegular.woff") format("woff"),
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica";
    url("../fonts/Helvetica/HelveticaBold.woff") format("woff"),
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?46132618#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
    display: inline-block;
    width: 1em;
    margin-right: 0.2em;
    font-family: "fontello";
    font-style: normal;
    font-weight: 400;
    speak: never;
    text-decoration: inherit;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: 0.2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-down-dir:before {
    content: "\e800";
}
.icon-up-dir:before {
    content: "\e801";
}

#codja {
    position: relative;
}

#codja button {
    margin: 0;
    padding: 0;
    background-color: initial;
    color: #AFAFAF;
    outline: none;
}

#codja table button.active {
    text-decoration: underline;
}

#codja table {
    margin-bottom: 0;
    font-family: "Helvetica", sans-serif;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    color: #AFAFAF;
}

#codja th {
    padding: 10px 20px;
    font-weight: 700;
    line-height: 32px;
    background: #E8E8E8;
}

#codja th,
#codja td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-right: none;
    border-color: #DDD;
}

#codja select {
    padding: .5em 1em;
    font-weight: 700;
    color: #AFAFAF;
    border-color: #E8E8E8;
    background-color: #E8E8E8;
    outline-color: #AFAFAF;
    text-transform: capitalize;
}

#codja th:first-child,
#codja td:first-child {
    text-align: left;
}

#codja th:first-child {
    border-top-left-radius: 10px;
}

#codja th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}

#codja td {
    padding: 10px 20px;
    background: #F7F7F7;
}

#codja tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

#codja tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

#codja tr td:last-child {
    border-right: none;
}

#codja .pagination {
    display: flex;
    padding: 10px;
    justify-content: center;
}

#codja .pagination button {
    margin-left: .5em;
    padding: .5em 1em;
    border-radius: 10px;
    transition: background-color .5s ease;
}

#codja .pagination button:first-child {
    margin-left: 0;
}

#codja .pagination button:hover,
#codja .pagination button.active {
    background-color: #e8e8e8;
}

#codja .load {
    position: relative;
}

#codja .load:before {
     display: block;
     position: absolute;
     top: 0;
     left: 0;
     z-index: 100;
     width: 100%;
     height: 100%;
     background-color: rgba(255, 255, 255, .3);
     content: '';
 }

#codja .load:after {
     display: inline-block;
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     z-index: 102;
     margin: auto;
     width: 36px;
     height: 36px;
     border: 3px solid rgba(219, 219, 219, 0.8);
     border-bottom-color: #bebebe;
     border-radius: 50%;
     content: '';
     animation: load 1s infinite linear;
}

@keyframes load {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
